{% extends 'base.html' %} {% block content %}
<div
  class="hero is-fullheight is-dark"
  style="
    background-image: url('static/img/admin/loged-in.jpg');
    background-size: cover;
    background-position: center;
    min-height: 60vh;
    background-attachment: fixed;
  "
>
  <div class="hero-body container">
    <div class="is-size-3 has-text-weight-bold has-text-centered">
      Welcome Back {{name}}.
    </div>
  </div>
</div>
<div class="section">
  <div class="tile has-ancestor">
    <div class="tile is-parent">
      <div
        class="tile is-child notification has-text-light"
        style="background-color: #7644c3;"
        onclick="window.location.href = '/owner-appointment' ; "
      >
        <p class="is-size-4 has-text-weight-bold">Appointments</p>
        <p class="less-opacity">View and confirm appointments</p>
      </div>
    </div>
    <div class="tile is-parent">
      <div
        class="tile is-child notification has-text-light"
        style="background-color: #683bab;"
      >
        <p class="is-size-4 has-text-weight-bold">
          Send Notification To Clients.
        </p>
        <p class="less-opacity">
          Send notificaions to clients regarding a new service or package.
        </p>
      </div>
    </div>
    <div class="tile is-parent">
      <div
        class="tile is-child notification notification has-text-light"
        style="background-color: #593392;"
      >
        <p class="is-size-4 has-text-weight-bold">Customer Loyality Program</p>
        <p class="less-opacity">
          View your clients currently in the customer loality program.
        </p>
      </div>
    </div>
    <div class="tile is-parent">
      <div
        class="tile is-child notification notification has-text-light"
        style="background-color: #4a2b7a;"
      >
        <p class="is-size-4 has-text-weight-bold">Blogs</p>
        <p class="less-opacity">Create and edit your blogs.</p>
      </div>
    </div>
  </div>
  <script></script>
</div>
{% endblock %}
