{% extends 'base.html' %} {% block content %}
<div
  class="hero is-fullheight"
  style="background-image: url('{{blog.img_link}}');
  background-position: center;
  background-size: cover;
  min-height: 90vh;
  "
>
  <div class="hero-body" style="backdrop-filter: brightness(0.3);">
    <div class="has-text-centered container">
      <div class="is-size-1 is-size-2-mobile has-text-light">
        <p class="alegreya has-text-weight-medium">
          {{blog.title}}
        </p>
        <p class="is-size-4 is-size-5-mobile has-text-light less-opacity">
          {{blog.description}}
        </p>
        <p class="is-size-6" style="margin-top: 20px;">
          <span class="icon"><i class="fas fa-clock"></i></span>
          <span id="time"></span> <span>minute read</span>
        </p>
      </div>
    </div>
  </div>
  <div class="hero-foot has-background-light"></div>
</div>
<div class="columns is-centered">
  <div class="column is-8 section">
    <div class="content">{{blog.content | safe}}</div>
  </div>
</div>
<script>
  // document.querySelector(".content").innerHTML =' {{blog.content}}';
  // console.log({{blog.content}});
</script>
{% endblock %}
