{% extends 'base.html' %} {% block content %}
<div class="section has-background-light" style="min-height: 100vh;">
  <div class="columns">
    <div class="column">
      <figure class="imgage is-square">
        <img src="static/img/appointment/hero.png" alt="" />
      </figure>
    </div>
    <div class="column">
      <div class="section">
        <div class="title">
          Book Your Appointment
        </div>
        <div class="subtitle">
          Fill the form below to book your appointment :
        </div>
        <form
          class="appointment_form"
          method="post"
          onsubmit="event.preventDefault(); form_verification(this)"
        >
          {% csrf_token %}
          <div class="field name_field">
            <label class="label">Name</label>
            <div class="control has-icons-left">
              <input
                class="input"
                type="text"
                required
                id="cli_name"
                name="cli_name"
                placeholder="Enter Your Name"
              />
              <input
                type="text"
                name="cli_token"
                id="token_input"
                style="display: none;"
              />
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </div>
          </div>

          <div class="field num_field">
            <label class="label">Phone Number </label>
            <div class="control has-icons-left">
              <input
                class="input"
                id="cli_number"
                type="tel"
                required
                name="cli_number"
                placeholder="Enter Your Phone Number "
              />
              <span class="icon is-small is-left">
                <i class="fas fa-phone-alt"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <input
              type="text"
              style="display: none;"
              name="cli_services"
              id="selected_services_input"
            />
            <strong>Selected Services :</strong> <br />
            <ul style="list-style-type: disc;" class="selected_services"></ul>
            <a
              class="button is-warning is-light is-outlined"
              style="margin-top: 5px;"
              onclick="this.parentElement.querySelector('.services_selection').classList.add('is-active')"
            >
              <span class="icon"> <i class="fas fa-plus"></i></span>
              <span>Add Services</span>
            </a>
            <br />
            <br />

            <!-- SERVICES MODAL START -->
            <div class="modal services_selection">
              <div class="modal-background"></div>
              <div class="modal-card">
                <header class="modal-card-head has-background-white">
                  <p class="modal-card-title">
                    <strong>Select Your Services</strong>
                  </p>
                  <div
                    class="delete"
                    onclick="this.parentElement.parentElement.parentElement.classList.remove('is-active')"
                  ></div>
                </header>
                <section class="modal-card-body has-background-white">
                  <!-- Content ... -->
                  <!-- Facial  -->
                  <div class="control">
                    <p class="is-size-6">
                      <strong class="title-border">FACIAL</strong>
                    </p>

                    <label class="radio">
                      <input type="radio" checked name="facial" />
                      I don't need Facial
                    </label>
                    <br />
                    <label class="radio">
                      <input type="radio" name="facial" />
                      Power Brightening And Skin Tone Radiance Facial. ----
                      ($30)
                    </label>
                    <br />
                    <label class="radio">
                      <input type="radio" name="facial" />
                      Glovite Lighting Facial
                    </label>
                    <br />
                    <label class="radio">
                      <input type="radio" name="facial" />
                      Sara Fruit CleanUp
                    </label>
                    <br />
                    <label class="radio">
                      <input type="radio" name="facial" />
                      Oil Control Treatment (O3+)
                    </label>
                    <br />
                    <label class="radio">
                      <input type="radio" name="facial" />
                      Feel Youtful Anti-Ageing Facial (O3+ )
                    </label>
                    <br />
                    <label class="radio">
                      <input type="radio" name="facial" />
                      Shine And Glow Facial With Peel Of Mask (O3+ )
                    </label>
                    <br />
                    <br />
                  </div>
                  <!-- Hair Care -->
                  <div class="control">
                    <p class="is-size-6">
                      <strong class="title-border">Hair Care</strong>
                    </p>
                    <label class="checkbox">
                      <input
                        type="checkbox"
                        checked
                        onchange="hair_care_selector(this, false)"
                        name="hair_care"
                        id="negi_hair_care"
                      />
                      I don't need hair care
                    </label>
                    <br />
                    <label class="checkbox">
                      <input
                        type="checkbox"
                        class="hair_care"
                        name="hair_care"
                        onchange="hair_care_selector(this, true)"
                      />
                      Head Message
                    </label>
                    <br />
                    <label class="checkbox">
                      <input
                        type="checkbox"
                        class="hair_care"
                        name="hair_care"
                        onchange="hair_care_selector(this, true)"
                      />
                      Henna - provided by the customer
                    </label>
                    <br />
                    <label class="checkbox">
                      <input
                        type="checkbox"
                        class="hair_care"
                        name="hair_care"
                        onchange="hair_care_selector(this, true)"
                      />
                      Color
                    </label>
                    <br />
                    <label class="checkbox">
                      <input
                        type="checkbox"
                        class="hair_care"
                        name="hair_care"
                        onchange="hair_care_selector(this, true)"
                      />
                      Root TouchUp -upto 2 inches
                    </label>
                    <br />
                    <label class="checkbox">
                      <input
                        type="checkbox"
                        class="hair_care"
                        name="hair_care"
                        onchange="hair_care_selector(this, true)"
                      />
                      Hair Spa -upto waist length
                    </label>
                    <br />
                    <br />
                  </div>
                  <!-- Pedicure  -->
                  <div class="control">
                    <p class="is-size-6">
                      <strong class="title-border">PEDICURE</strong>
                    </p>
                    <label class="radio">
                      <input type="radio" checked name="pedicure" />
                      I don't need pedicure
                    </label>
                    <br />
                    <label class="radio">
                      <input type="radio" name="pedicure" />
                      BubbleGum Spa Pedicure.
                    </label>
                    <br />
                    <label class="radio">
                      <input type="radio" name="pedicure" />
                      Classic pedicure
                    </label>
                    <br />
                    <label class="radio">
                      <input type="radio" name="pedicure" />
                      Cut File and Polish Feet
                    </label>
                    <br />
                    <label class="radio">
                      <input type="radio" name="pedicure" />
                      Detan pedicure
                    </label>
                    <br />
                    <br />
                  </div>
                  <!-- Threading -->
                  <div class="control">
                    <p class="is-size-6">
                      <strong class="title-border"
                        >CONTACTLESS THREADING</strong
                      >
                    </p>
                    <label class="checkbox">
                      <input
                        type="checkbox"
                        checked
                        onchange="contactless_threading_selector(this, false)"
                        name="contactless_threading"
                        id="negi_thread"
                      />
                      I don't need contactless threading
                    </label>
                    <br />
                    <label class="checkbox">
                      <input
                        type="checkbox"
                        name="contactless_threading"
                        onchange="contactless_threading_selector(this, true)"
                        class="threading"
                      />
                      Eyebrows
                    </label>
                    <br />
                    <label class="checkbox">
                      <input
                        type="checkbox"
                        name="contactless_threading"
                        onchange="contactless_threading_selector(this, true)"
                        class="threading"
                      />
                      Upper Lip
                    </label>
                    <br />
                    <label class="checkbox">
                      <input
                        type="checkbox"
                        name="contactless_threading"
                        onchange="contactless_threading_selector(this, true)"
                        class="threading"
                      />
                      Chin
                    </label>
                    <br />
                    <label class="checkbox">
                      <input
                        type="checkbox"
                        name="contactless_threading"
                        onchange="contactless_threading_selector(this, true)"
                        class="threading"
                      />
                      Forehead
                    </label>
                    <br />
                    <label class="checkbox">
                      <input
                        type="checkbox"
                        name="contactless_threading"
                        onchange="contactless_threading_selector(this, true)"
                        class="threading"
                      />
                      Sidelocks
                    </label>
                    <br />
                    <label class="checkbox">
                      <input
                        type="checkbox"
                        name="contactless_threading"
                        onchange="contactless_threading_selector(this, true)"
                        class="threading"
                      />
                      Full Face
                    </label>
                    <br />
                    <br />
                  </div>
                  <!-- Manicure -->
                  <div class="control">
                    <p class="is-size-6">
                      <strong class="title-border"> MANICURE</strong>
                    </p>
                    <label class="radio">
                      <input type="radio" checked name="manicure" />
                      I don't need menicure </label
                    ><br />
                    <label class="radio">
                      <input type="radio" name="manicure" />
                      Cut, File & Polish - Hands </label
                    ><br />
                    <label class="radio">
                      <input type="radio" name="manicure" />
                      Classic Manicure </label
                    ><br />
                    <label class="radio">
                      <input type="radio" name="manicure" />
                      Detan Manicure </label
                    ><br />
                    <br />
                  </div>
                  <!--  Bleach -->
                  <div class="control">
                    <p class="is-size-6">
                      <strong class="title-border"> BLEACH </strong>
                    </p>
                    <label class="radio">
                      <input type="radio" checked name="bleach" />
                      I don't need bleach
                    </label>
                    <br />
                    <label class="radio">
                      <input type="radio" name="bleach" />
                      Face & Nect Bleach
                    </label>
                    <br />
                    <label class="radio">
                      <input type="radio" name="bleach" />
                      Full Arms Bleach
                    </label>
                    <br />
                    <label class="radio">
                      <input type="radio" name="bleach" />
                      Full Legs Bleach
                    </label>
                    <br />
                    <label class="radio">
                      <input type="radio" name="bleach" />
                      Front Bleach
                    </label>
                    <br />
                    <label class="radio">
                      <input type="radio" name="bleach" />
                      Full Body Bleach
                    </label>
                    <br />
                    <label class="radio">
                      <input type="radio" name="bleach" />
                      Back Bleach
                    </label>
                    <br />
                  </div>
                </section>
                <footer class="modal-card-foot">
                  <a
                    class="button is-success"
                    onclick="salon_service_selector();"
                    >Done
                  </a>
                </footer>
              </div>
            </div>
            <!-- SERVIES END  -->
          </div>
          <div class="field">
            <p class="is-size-6">
              <strong>Selected Data and time : </strong>
              <span class="select_date_time"></span>
            </p>
            <input
              type="text"
              style="display: none;"
              name="cli_time"
              id="selected_time_input"
            />
            <a
              style="margin-top: 5px;"
              class="button is-warning is-light is-outlined"
              onclick="document.querySelector('.date_time_modal').classList.add('is-active');"
            >
              <span class="icon"> <i class="fas fa-clock"></i></span>
              <span>Select date and time </span></a
            >
            <div class="modal date_time_modal">
              <div class="modal-background"></div>
              <div class="modal-card">
                <section class="modal-card-body">
                  <!-- Content ... -->
                  <p class="has-text-centered is-size-5">
                    When should we expect you ?
                  </p>
                  <div
                    class="is-size-6 has-text-centered date-time-err has-text-danger"
                  ></div>
                  <br />
                  <div class="buttons is-centered date_class_selection">
                    {% for time_item in select_time %}
                    <a
                      class="button date_btn is-outlined date_block_btn"
                      id="date{{forloop.counter0}}"
                      onclick="date_toggle(this)"
                    >
                      {{time_item.day}} <br />
                      <strong>{{time_item.date}}</strong>
                    </a>
                    {% endfor %}
                  </div>
                  <div
                    class="time_block buttons is-centered time_class_selection"
                  >
                    <p class="is-size-6" id="cmd_date">Select a date</p>

                    {% for item in select_time %}
                    <div id="time{{forloop.counter0}}" style="display: none;">
                      {% for avail_time in item.time %}
                      <a
                        class="button is-outlined date_btn"
                        onclick="time_toggle(this)"
                        >{{avail_time}}
                      </a>
                      {% endfor %}
                    </div>
                    {% endfor %}
                  </div>
                </section>
                <footer class="modal-card-foot">
                  <a
                    class="button is-success is-light is-outlined"
                    onclick="date_time_selector()"
                    >Done</a
                  >
                </footer>
              </div>
            </div>
          </div>
          <br />
          <div class="field is-grouped">
            <div class="control">
              <!-- will submit the form when pressed -->
              <button class="button is-link">Book Appointment</button>
            </div>
          </div>
        </form>
        <div class="modal notification_modal">
          <div class="modal-background"></div>
          <div class="modal-content notification has-background-light">
            <p class="is-size-5">
              Allow notifications to get notified when your appointment gets
              confirmed.
            </p>
            <p class="notification_err"></p>
            <br />
            <a
              class="button is-light is-link is-outlined allow_notification_btn"
              onclick=" Notification.requestPermission().then((response) => {
              get_notified();
            });"
              >Allow Notifications</a
            >
            <a class="button is-light is-danger is-outlined">
              <span class="icon"><i class="fas fa-times"></i></span>
              <span>Cancel</span>
            </a>
          </div>
          <button class="modal-close is-large" aria-label="close"></button>
        </div>
        <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-analytics.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-messaging.js"></script>
        <script>
          const get_notified = () => {
            if (Notification.permission == "granted") {
              // show prompt and submit form irrespective of the btn
              var firebaseConfig = {
                apiKey: "AIzaSyADIG5COZpFunikdaa6M9WOLOhTAdCNlcU",
                authDomain: "testing-pwa-5f25a.firebaseapp.com",
                databaseURL: "https://testing-pwa-5f25a.firebaseio.com",
                projectId: "testing-pwa-5f25a",
                storageBucket: "testing-pwa-5f25a.appspot.com",
                messagingSenderId: "135835589513",
                appId: "1:135835589513:web:e77b56c912dab0bf001f58",
                measurementId: "G-6YP9Z9T5W0",
              };
              // Initialize Firebase
              firebase.initializeApp(firebaseConfig);
              firebase.analytics();
              let messaging = firebase.messaging();
              messaging.usePublicVapidKey(
                "BDwwGV-SNWo4O7nHG6raDK__I0ALnPpv2uOeqe_W7qXciMD8fdwdWQaL_jvFXKAXS-T1hZ5CjnQ6sLb78zVo8RU"
              );

              messaging.getToken().then((currentToken) => {
                console.log("[Current Token ]", currentToken); // forDebug
                localStorage.main_token_item = currentToken; // forDebug
                document.querySelector("#token_input").value = currentToken;
                form_submit();
              });
              // Callback fired if Instance ID token is updated.
              messaging.onTokenRefresh(() => {
                messaging.getToken().then((refreshedToken) => {
                  document.querySelector("#token_input").value = refreshedToken;
                  form_submit();
                });
              });
            } else if (Notification.permission == "denied") {
              // set servie worker and send the token to the server and take user to the guide to solve the notification thing.
              document
                .querySelector(".notification_modal")
                .classList.add("is-active");
              document.querySelector(".notification_err").innerHTML =
                '<p class="has-text-danger" > You have blocked notifications you will not be able to recieve any message on the confirmation of your booking and other weekly packages. </p>  ';
              document
                .querySelector(".notification_err")
                .addEventListener("click", () => {
                  window.location.href = "/blocked_notifications";
                });
              document
                .querySelector(".notification_modal")
                .querySelector(".allow_notification_btn").innerText =
                "Book Appointment";
              document
                .querySelector(".allow_notification_btn")
                .addEventListener("click", () => {
                  form_submit();
                });
            } else {
              document
                .querySelector(".notification_modal")
                .classList.add("is-active");
            }
          };
          // checkbox hair selector, removes checks from eveyother box when clicked on i dont need service and vice-versa
          const hair_care_selector = (el, bool) => {
            if (bool == false) {
              if (el.checked === true) {
                const hair_el = document.querySelectorAll(".hair_care");
                for (let i = 0; i < hair_el.length; i++) {
                  hair_el[i].checked = false;
                }
              }
            } else {
              document.querySelector("#negi_hair_care").checked = false;
            }
          };
          //  same func as above but in this case for threading
          const contactless_threading_selector = (el, bool) => {
            if (bool === false) {
              if (el.checked) {
                const threading_el = document.querySelectorAll(".threading");
                for (let i = 0; i < threading_el.length; i++) {
                  threading_el[i].checked = false;
                }
              }
            } else {
              document.querySelector("#negi_thread").checked = false;
            }
          };
          //  selects the services shown by the modal and  adds them in a list
          const salon_service_selector = () => {
            const modal_selection = document
              .querySelector(".services_selection")
              .querySelectorAll("input");
            const selected_ser = document.querySelector(".selected_services");
            let temp = "";
            let temp2 = "";
            for (let i = 0; i < modal_selection.length; i++) {
              if (modal_selection[i].checked === true) {
                if (
                  modal_selection[i].parentElement.innerText.search("don't") ===
                  -1
                ) {
                  temp2 =
                    temp2 + modal_selection[i].parentElement.innerText + ",";
                  temp =
                    temp +
                    "<li>" +
                    modal_selection[i].parentElement.innerText +
                    "</li>";
                }
              }
            }
            document.querySelector("#selected_services_input").value = temp2;
            selected_ser.innerHTML = temp;
            document
              .querySelector(".services_selection")
              .classList.remove("is-active");
          };
          // validates date and service selection before submitting the form.
          const form_verification = (el) => {
            const selected_services = document.querySelector(
              ".selected_services"
            );
            if (selected_services.innerHTML === "") {
              selected_services.innerHTML =
                '<p class="has-text-danger"> Please Add A Service </p>';
              return false;
            }
            const date_time_err = document.querySelector(".select_date_time");

            if (date_time_err.innerText === "") {
              date_time_err.innerHTML =
                "<p class='has-text-danger'> Please Select Date And Time </p> ";
              return false;
            }
            get_notified();
          };
          const form_submit = () => {
            localStorage.setItem(
              "name",
              document.querySelector("#cli_name").value
            );
            localStorage.setItem(
              "number",
              document.querySelector("#cli_number").value
            );
            document.querySelector(".appointment_form").submit();
          };
          // auto auto name and number incase the customer has booked an appointment previously, also setting the today date block active and showing timings of that day.
          document.addEventListener("DOMContentLoaded", () => {
            if (localStorage.name && localStorage.number) {
              const name = document.querySelector(".name_field");
              name.style.display = "none";
              name.querySelector("input").value = localStorage.name;
              const num = document.querySelector(".num_field");
              num.style.display = "none";
              num.querySelector("input").value = localStorage.number;
              document.querySelector(
                ".subtitle"
              ).innerText = `Hey welcome back ${localStorage.name}.`;
            }
            document
              .querySelector(".time_block")
              .querySelector("#time0").style.display = "block";
            document
              .querySelector("#date0")
              .classList.add("is-link", "is-light");
          });
          const date_toggle = (el) => {
            document.querySelector("#cmd_date").style.display = "none";
            document
              .querySelector(".time_block")
              .querySelectorAll("div")
              .forEach((test) => {
                test.style.display = "none";
              });
            document.querySelectorAll(".date_block_btn").forEach((item) => {
              item.classList.remove("is-link", "is-light");
            });
            document
              .querySelector(".time_block")
              .querySelector(
                "#time" + el.id.replace("date", "")
              ).style.display = "block";
            el.classList.add("is-link", "is-light");
          };
          // allows for single selection of time.
          const time_toggle = (el) => {
            [
              ...el.parentElement.parentElement.querySelectorAll(".date_btn"),
            ].forEach((item) => {
              item.classList.remove("is-link", "is-light");
            });

            el.classList.add("is-link", "is-light");
          };
          // validates time selection before closing the modal and setting the date and time selected by the user on the home page.
          const date_time_selector = () => {
            let err_bool = false;
            var date, time;
            try {
              date = document
                .querySelector(".date_class_selection")
                .querySelector(".is-link")
                .innerText.replace("\n", " ");
              time = document
                .querySelector(".time_class_selection")
                .querySelector(".is-link").innerText;
            } catch (err) {
              err_bool = true;
              document.querySelector(".date-time-err").innerText =
                "Please select a date and time";
            } finally {
              if (err_bool === false) {
                document
                  .querySelector(".date_time_modal")
                  .classList.remove("is-active");
                document.querySelector(
                  ".select_date_time"
                ).innerText = `${time} on ${date}`;
                document.querySelector(
                  "#selected_time_input"
                ).value = `${time}-${date}`;
              } else {
                console.log("some error occured");
              }
              // console.log('[FINALLY]');
            }
            // date-time-err
          };
        </script>
      </div>
    </div>
  </div>
</div>
{% endblock %}
