{% extends 'base.html' %} {% block content %}
<div class="columns">
  <div class="column">
    <figure class="image is-square">
      <img src="static/img/appointment/thank_you1.png" />
    </figure>
  </div>
  <div class="column">
    <div class="section has-text-centered" style="padding-top: 0px;">
      <p class="is-size-5 has-text-weight-semibold">
        Thank you for using our services. We are happy to help you.
      </p>
      <br />
      <a class="button is-link is-outlined" onclick="window.location.href='/'">Go home</a>
    </div>
  </div>
</div>
{% endblock %}